.container {
  /* text-align: center;
  background-color: aqua; */
}
/* Header styling */
.header {
  background: url(./assets/img/cover.png) no-repeat center center;
  background-size: cover;
  /* height: 40rem; */
  /* width: 100%; */
}

/* userNav styling */
.userNav {
  display: flex;
  width: 100%;
  padding: 1rem 2rem;
  justify-content: space-between;
  background-color: #3a416f;
  color: white;
}
.userNav .language {
  display: flex;
}
.userNav .language span {
  margin-left: 1rem;
}
.userNav .language:hover {
  cursor: pointer;
  color: aqua;
}
.return a {
  color: white;
}
.return a:hover {
  color: aqua;
  /* cursor: pointer; */
}
.signNav button {
  border: none;
  color: white;
  padding: 0 1rem;
  background-color: transparent;
}
.signNav button:hover {
  cursor: pointer;
  color: aqua;
}

/* navMenu styling */
.navMenu {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.Menu ul {
  display: flex;
}
.Menu ul li {
  list-style: none;
  margin-right: 1rem;
}
.Menu a {
  text-decoration: none;
  color: white;
}
.Menu a:hover,
.Menu a:active {
  border-bottom: 2px solid #f68a90;
}
.logo {
  display: flex;
  flex-direction: column;
  color: white;
  cursor: pointer;
  padding: 1rem 0;
  font-size: 0.5rem;
  align-items: center;
  /* height: 2rem; */
}
.userPanel {
  display: flex;
  align-items: center;
}
.userPanel .search {
  position: relative;
}
.userPanel .search input {
  border: none;
  border-radius: 0.3rem;
  height: 2rem;
  padding-left: 1rem;
}
.userPanel .search .searchBtn {
  border: none;
  position: absolute;
  right: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
}
.userBtn button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  position: relative;
  margin-left: 1.5rem;
  cursor: pointer;
}
.userBtn button .dot {
  height: 10px;
  width: 10px;
  background: red;
  border-radius: 5px;
  position: absolute;
  right: -2px;
  bottom: 3px;
}
/* Cover styling */
.cover {
  display: flex;
  color: white;
  height: 100%;
  padding: 4rem 0;
}
.cover .cover_left {
  flex: 1;
}
.cover .cover_right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  flex-direction: column;
  font-weight: bolder;
}
.cover_right h1 {
  font-size: 4rem;
}
.saleTxt {
  color: #e85757;
  font-family: Mr Dafoe;
  font-size: 3rem;
  transform: rotate(-9deg);
  margin-top: -1.5rem;
}
.percentage {
  display: flex;
  align-items: center;
}
.percentNmb {
  font-size: 4rem;
  font-family: Lato;
}
.percent {
  font-size: 2rem;
}
.cover .btn {
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  font-weight: bold;
  margin-top: 1.5rem;
  cursor: pointer;
}
